<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>494700781950-i6tv42vv6n7t6odrf16mqtthnmfktes4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.494700781950-i6tv42vv6n7t6odrf16mqtthnmfktes4</string>
	<key>API_KEY</key>
	<string>AIzaSyC4VghX3AX-RndVEUOtaJsM8Cbs9CPDfCg</string>
	<key>GCM_SENDER_ID</key>
	<string>494700781950</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.teacherOrganizer</string>
	<key>PROJECT_ID</key>
	<string>teacheroranizer</string>
	<key>STORAGE_BUCKET</key>
	<string>teacheroranizer.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:494700781950:ios:c9fae2536f0216068e532f</string>
</dict>
</plist>